@model IEnumerable<DataAccess.Entities.Slider>

@{ 
    Layout = null;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
<link href="@Url.Content("~/Content/Carousel.css")" rel="stylesheet" type="text/css" /> 
<div id="first-slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var item in Model)
            {
                <div class="item slide" style="background-image: url(@item.src)">
                </div>
            }
        </div>
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.carousel-inner .item:first').addClass('active');

        (function ($) {

        //Variables on page load 
        var $myCarousel = $('#carousel-example-generic')

        $myCarousel.append("<ol class='carousel-indicators'></ol>");
        var indicators = $(".carousel-indicators");
        $myCarousel.find(".carousel-inner").children(".item").each(function (index) {
            (index === 0) ?
            indicators.append("<li data-target='#carousel-example-generic' data-slide-to='" + index + "' class='active'></li>") :
            indicators.append("<li data-target='#carousel-example-generic' data-slide-to='" + index + "'></li>");
        });

        //Initialize carousel 
        $myCarousel.carousel();

        //Pause carousel  
        $myCarousel.carousel('pause');

        $('#carousel-example-generic').carousel({
            interval: 3000,
            pause: "false"
        });

    })(jQuery);
    });
</script>