@{
    ViewBag.Title = "ServerError";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/Error.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrap">
        <div class="logo">
            <h1>500</h1>
            <p>Internal server error is occured</p>
        </div>
    </div>

</body>
</html>
