@model IEnumerable<InternetShop.ViewModels.CategoryViewModel>

@{
    Layout = null;
}

<p id="categories-list-name">Categories</p> 
<ul id="categories-list">
    @foreach(var item in Model)
    {
        <li>@Ajax.ActionLink(@item.Name, "GetProductsByCategory", "Product",
                             new { categoryId = item.Id}, new AjaxOptions { UpdateTargetId = "products-list" })</li>
    }
</ul>

<style>
    #categories-list-name{
        background-color:green;
    }
</style>

