@model IEnumerable<InternetShop.ViewModels.CategoryViewModel>

@{
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<ul class="nav nav-pills nav-stacked" id="category-list">
    <li class="active"><a href="#">Categories</a></li>
    @foreach (var item in Model)
    {
        <li>
            @Ajax.ActionLink(@item.Name, "GetProductsByCategory", "Product",
                             new { categoryId = item.Id }, new AjaxOptions { UpdateTargetId = "products-list" })
        </li>
    }
</ul>

<style>
    #category-list{
        padding:10px;
    }
</style>

