@model IEnumerable<DataAccess.Entities.Category>

@{
    Layout = null;
}

<p id="categories-list-name">Categories</p> 
<div id="categories-list">
    @foreach(var item in Model)
    {
        <p>@Ajax.ActionLink(@item.Name, "GetProductsByCategory", "Product",
                             new { categoryId = item.Id}, new AjaxOptions { UpdateTargetId = "products-list" })</p>
    }
</div>

