@model IEnumerable<DataAccess.Entities.Category>

@{
    Layout = null;
}

<div id="categories-list-name">Categories</div> 
<div id="categories-list">
    @foreach(var item in Model)
    {
        <p>@item.Name</p>
    }
</div>

