@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class = "row">
    <form id="sortForm" method="post" action="@Url.Action("SortProduct", "Product")">
        <select class="form-control" id="sort-order-dropdown" name="sortOrder" onchange = "$('#sortForm').submit()">
            <option>Date (Newest - Oldest)</option>
            <option>Date (Oldest - Newest)</option>
            <option>Name (A - Z)</option>
            <option>Name (Z - A)</option>
            <option>Price (Low - High)</option>
            <option>Price (High - Low)</option>
        </select>
    </form>
</div>

<div class="row">
   @{Html.RenderAction("GetProducts", "Product");}
</div>