@{
    ViewBag.Title = "Home Page";
}

@{Html.RenderAction("GetSliderImages", "Slider");}

<div class="col-md-2">
    @{Html.RenderAction("GetAllCategories", "Category");}
</div>

<div class="col-md-10">
    <div class = "row" id="control-panel">
        @using (Ajax.BeginForm("SortProduct", "Product", null, 
            new AjaxOptions { UpdateTargetId = "products-list", OnComplete = "OnComplete" }, new { id = "sortForm" }))
        { 
            <select class="form-control" id="sort-order-dropdown" name="sortOrder" onchange = "$('#sortForm').submit()">
                <option>Date (Newest - Oldest)</option>
                <option>Date (Oldest - Newest)</option>
                <option>Name (A - Z)</option>
                <option>Name (Z - A)</option>
                <option>Price (Low - High)</option>
                <option>Price (High - Low)</option>
            </select>
        }
    </div>

    <div class="row" id="products-list">
        @{Html.RenderAction("GetProducts", "Product");}
    </div>
</div>

<style>
    #control-panel {
         border : 1px solid #d3d3d3;
         padding : 10px;
         margin-top : 10px; 
    }
</style>